* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.window {
    height: 100vh;
    width: 100vw;
}

.Committee {
    height: 10%;
    background-color: rgb(170, 170, 170);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Present {
    height: 50%;
    background-color: rgb(226, 226, 226);
}

.Information {
    height: 40%;
    background-color: rgb(173, 173, 173);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#committee {
    border-radius: 15px;
    padding: 5px 0 5px 15px;
    font-size: 24px;
}

.ChapterAndDeputyForm {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.check {
    font-size: 24px;
    margin-bottom: 15px;
}

th {
    padding: 3px;
}

table {
    border-spacing: 0;
    margin: 25px;
}

h1 {
    margin-left: 15px;
}

.number {
    width: 50px;
    height: 50px;
    font-size: 36px;
}

.information {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.date {
    display: flex;
    width: 100%;
    height: 30%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#dateInput {
    width: 240px;
    height: 80%;
    font-size: 24px;
}

.smallText {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.discussion {
    width: 55%;
    height: 100%;
}

.agenda {
    width: 100%;
    height: 50%;
}

.solution {
    width: 100%;
    height: 50%;
}

#agendaInput, #solutionInput {
    font-size: 18px;
}

#disc {
    font-size: 24px;
}

button {
    width: 243px;
    font-size: 24px;
    margin-top: 10px;
    border-radius: 15px;
}

.hidden {
    display: none;
}